html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  background: hsl(204, 43%, 93%);
}

.container {
  font-size: 12px;
  max-width: 540px;
  width: 70vh;
  margin: 20vh auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px hsl(218, 22%, 80%);
}

.top {
  padding: 15px 25px;
  height: 43%;
}

.top p {
  font-size: 13px;
  color: hsl(218, 22%, 67%);
  font-weight: 400;
  line-height: 1.5em;
}

.bottom {
  height: 57%;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.title {
  font-size: 16px;
  color: hsl(71, 73%, 54%);
  font-weight: 700;
}

.sub {
  color: white;
  background: hsl(179, 62%, 43%);
  padding: 25px;
}

.sub h2 {
  font-size: 15px;
}

.sub p {
  font-size: 14px;
  margin-bottom: 1.5em;
}

.about {
  color: white;
  background: rgba(48, 192, 190, 0.87);
  padding: 30px;
}

.about h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.about p {
  font-size: 13px;
  line-height: 1.5em;
  margin-top: 5px;
  color: hsl(179, 62%, 80%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.signup {
  text-decoration: none;
  background: hsl(71, 73%, 54%);
  color: white;
  font-size: 14px;
  padding: 15px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 0 10px hsl(179, 62%, 25%);
  margin-bottom: 1.5em;
}

.signup:hover {
  background: hsl(71, 73%, 40%);
}

.price {
  font-size: 30px;
  font-weight: 700;
}

.time {
  font-size: 12px;
  color: hsl(179, 62%, 75%);
  margin-left: 1em;
}

/*Flexbox begins*/

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  align-items: stretch;
}

.sub, .about {
  flex-basis: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.price {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sub p {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 375px) {

  .container {
    max-width: 320px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }
}
